# Environment variables
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.coverage.*

# Virtual Environment
.venv/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/

# Logs
*.log